/*Regla1*/
*{
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}
/*Regla 2. El elemento body tendrá margen 0 y relleno de 20% únicamente a la derecha y izquierda*/
body{
  margin: 0%;
  padding-left: 20%;
  padding-right: 20%;
}
/*Regla 3. Los elementos h1 estarán subrayados (text-decoration: underline;), de color darkcyan y alineados al centro*/
h1{
  text-decoration: underline;
  color: darkcyan;
  text-align: center;
}
/*Regla 4. Los elementos con clase selector tendrán color lightcyan*/
.selector{
  color: lightcyan;
/*Regla 5. Los elementos con clase selectors tendrán un relleno de 5%, un border: solid darkcyan 1px; y esquinas redondeadas border-radius con valor de 5px*/
  padding: 5%;
  border: solid darkcyan 1px;
  border-radius: 5px;
}
/*Regla 6. Los elementos con identificador (id) universal tendrán color lightgoldenrodyellow*/
.universal{
  color: lightgoldenrodyellow;
}
/* Regla 7. Los elementos h2 con clase selector y los elementos h2 con identificador (id) universal tendrán color de fondo darkcyan, relleno de 1% y esquinas redondeadas con valor de 5px */
h2.selector
h2#universal{
  background-color: darkcyan;
  padding: 1%;
  border-radius: 5px;
}
/* Regla 8. Los elementos span tendrán font-weight: 900; color de fondo negro y color de texto blanco */
span{
  font-weight: 900;
  background-color: black;
  color: aliceblue;
}
/* Regla 9. Los elementos a que sean hijos directos de algún li tendrán text-decoration: none */
li a {
  text-decoration: none;
}
