/*Regla 1. Utilizar el selector universal * para cambiar el tipo de fuente del documento*/
*{
  font-family: "Lato", sans-serif; /* Tipo de fuente Lato */
  font-weight: 100; /* Font-weight 100 */
  font-style: normal; 
}
/*Regla 2. El elemento body tendrá margen 0 y relleno de 20% únicamente a la derecha y izquierda*/
body{
  margin: 0%; /* Margen 0 */
  padding-left: 20%; /* Relleno muy pequeño */
  padding-right: 20%; /* Relleno muy pequeño */
}
/*Regla 3. Los elementos h1 estarán subrayados (text-decoration: underline;), de color darkcyan y alineados al centro*/
h1{
  text-decoration: underline; /* Subrayado */
  color: darkcyan;  /* Color darkcyan */
  text-align: center; /* Alineado al centro */
}
/*Regla 4. Los elementos con clase selector tendrán color lightcyan*/
.selector{
  color: lightcyan; /* Color lightcyan */
}
/*Regla 5. Los elementos con clase selectors tendrán un relleno de 5%, un border: solid darkcyan 1px; y esquinas redondeadas border-radius con valor de 5px*/
.selectors{
  padding: 5%; /* Relleno de 5% */
  border: solid darkcyan 1px; /* Border solid darkcyan 1px */
  border-radius: 5px; /* Esquinas redondeadas con valor de 5px */
}
/*Regla 6. Los elementos con identificador (id) universal tendrán color lightgoldenrodyellow*/
#universal{
  color: lightgoldenrodyellow; /* Color lightgoldenrodyellow */
}
/* Regla 7. Los elementos h2 con clase selector y los elementos h2 con identificador (id) universal tendrán color de fondo darkcyan, relleno de 1% y esquinas redondeadas con valor de 5px */
h2.selector,
h2#universal{
  background-color: darkcyan; /* Color de fondo darkcyan */
  padding: 1%;  /* Relleno de 1% */
  border-radius: 5px; /* Esquinas redondeadas con valor de 5px */
}
/* Regla 8. Los elementos span tendrán font-weight: 900; color de fondo negro y color de texto blanco */
span{
  font-weight: 900; /* Font-weight 900 */
  background-color: black; /* Color de fondo negro */
  color: aliceblue; /* Color de texto blanco */
}
/* Regla 9. Los elementos a que sean hijos directos de algún li tendrán text-decoration: none */
li a {
  text-decoration: none; 
}
/* Regla 10. Los elementos h3 tendrán color de fondo background-color: rgba(0, 139, 139, 0.529);, relleno de 0.5px y esquinas redondeadas con valor de 5px */
h3 {
  background-color: rgba(0, 139, 139, 0.529); 
  padding: 0.5px;  /* Relleno de 0.5px */
  border-radius: 5px; /* Esquinas redondeadas con valor de 5px */
}
/* Regla 11. Los elementos div que sean descendientes de un elemento con id "gallery" tendrán un ancho width de 100% */
#gallery div {
  width: 100%; /* Ancho de 100% */
}
/* Regla 12. Los elementos img tendrán un ancho width de 100%, un border: solid darkcyan 1px; y esquinas redondeadas con valor de 5px */
img{
  width: 100%; /* Ancho de 100% */
  border: solid darkcyan 1px; /* Border solid darkcyan 1px */
  border-radius: 5px; /* Esquinas redondeadas con valor de 5px */
}


.container{
    border: solid darkcyan 1px; 
    border-radius: 5px;
}
.table-container{
  border-collapse: collapse; /*lineas */
  text-align: left;
}
.table-container td{
  padding: 13px;
  font-size: 24px;
}
.table-container th{
  padding: 13px;
  font-size: 26px;
  font-weight: bold;
}
table{
  border: 1px solid #bcbdbd;  /* color del borde azul/verdoso */
  border-radius: 10px !important;
  padding: 5px;
  width: 99%;
  border: 1px solid black;
  margin: 6px auto; /* 50px de separación arriba y abajo, auto a los lados */
}
.color{
 background-color: #E8E9EB;
}
